<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OTPLoginServlet</servlet-name>
        <servlet-class>OTPLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <servlet-class>VerifyOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPForgotServlet</servlet-name>
        <servlet-class>OTPForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rejectLeave</servlet-name>
        <servlet-class>rejectLeave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectLeave</servlet-name>
        <servlet-class>RejectLeave</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OTPLoginServlet</servlet-name>
        <url-pattern>/OTPLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTPServlet</servlet-name>
        <url-pattern>/VerifyOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPForgotServlet</servlet-name>
        <url-pattern>/OTPForgotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rejectLeave</servlet-name>
        <url-pattern>/rejectLeave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectLeave</servlet-name>
        <url-pattern>/RejectLeave</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
